$main-font-title: 'Montserrat', sans-serif;
$main-font-subtitle: 'Kaushan Script', sans-serif;
$main-font-text: 'Roboto', sans-serif;

$main-text-size: 15px;
$secondary-text-size: 14px;

$primary-white-color: rgb(255, 255, 255);
$primary-dark-color: rgb(0, 0, 0);
$primary-text-color: rgb(143, 143, 143);

$primary-accent-color: rgb(252, 227, 138);
$secondary-accent-color: rgb(243, 129, 129);

$primary-warning-color: rgb(255, 0, 0);
$main-button-color: rgb(162, 229, 216);
